# Programming Fundamentals Using Python

In [1]:
print("Programming Fundamentals")

Programming Fundamentals

In [3]:
print(123)

123

In [4]:
print(20.87)

20.87

#  Value
      - Text 
           string ""     > str
      - Number 
           - Whole Number   > integers > int 
           - Decimal        > floats > flaot
      - Boolean             > Boolean> bool

In [5]:
print("SMIT")

SMIT

In [6]:
print(True)

True

In [7]:
print("Faraz",3.85,True,28)

Faraz 3.85 True 28

In [8]:
print?

In [9]:
print("Faraz",3.85,True,28,sep="")

Faraz3.85True28

In [11]:
print("Faraz",3.85,True,28,sep="--")

Faraz--3.85--True--28

In [14]:
print("Faraz",3.85,True,28,sep="--")

Faraz3.85True28

In [15]:
print("Hello!! Welcome to First Class of Python. Start we are doing Programming fundamentals")

Hello!! Welcome to First Class of Python. Start we are doing Programming fundamentals

In [16]:
print("Hello!! Welcome to First Class of Python.\n Start we are doing Programming fundamentals")

Hello!! Welcome to First Class of Python.
 Start we are doing Programming fundamentals

In [17]:
print("Hello!! Welcome to 'First Class' of Python.")

Hello!! Welcome to 'First Class' of Python.

In [18]:
print('Hello!! Welcome to "First Class" of Python.')

Hello!! Welcome to "First Class" of Python.

In [19]:
print("Hello!! Welcome to \"First Class\" of Python.")

Hello!! Welcome to "First Class" of Python.

#                   Saylani Mass IT Training 

         Name: Mohammad Faraz
         Class: AI & DS
         Batch: 04
         Campus : Bahadurabad Head Office

In [22]:
print("""                          Saylani Mass IT Training

                  Name: Mohammad Faraz
                  Class: AI & DS
                  Batch: 04
                  Campus : Bahadurabad Head Office""");

                          Saylani Mass IT Training

                  Name: Mohammad Faraz
                  Class: AI & DS
                  Batch: 04
                  Campus : Bahadurabad Head Office

In [25]:
Country = "Pakistan";
Country = "Turkey"
print(Country);

Turkey

In [26]:
print(Country);

Turkey

In [27]:
Country = 12
print(Country)

12

# Operators

     + - * / // % ** > < >= <= == !=

In [28]:
12 + 15

27

In [29]:
51 - 29

22

In [30]:
14 * 2

28

In [33]:
81 / 9

# Floating Div

9.0

In [35]:
25 // 5

# Int Div

5

In [36]:
10 % 6

4

In [38]:
5 ** 3

125

In [39]:
10 > 12

False

In [40]:
20 < 20

False

In [41]:
12 >= 12

True

In [43]:
"Pakistan " + "Zindabad"

'Pakistan Zindabad'

In [44]:
"12" + 20

TypeError: can only concatenate str (not "int") to str

In [46]:
userInput = input("Enter your name")
userage = input("Enter your age")
userBatch = input("Enter your Batch")
userCourse = input("Enter your Course")

"My name is {}. I am {} years old. Currently, I enrolled in Batch-{} and my course is {}".format(userInput,userage,userBatch,userCourse)

Enter your nameFaraz
Enter your age22
Enter your Batch04
Enter your CourseAI & DS

'My name is Faraz. I am 22 years old. Currently, I enrolled in Batch-04 and my course is AI & DS'

In [47]:
type(userage)

str

In [52]:
"My name is " + userInput + ". I am " + userage + " years old."

'My name is Faraz. I am 22 years old.'

In [53]:
userInput = input("Enter your name")
userage = int(input("Enter your age"))

type(userage)

Enter your namefaraz
Enter your age22

int

In [54]:
f'My name is {userInput}. I am {userage} years old.'

'My name is faraz. I am 22 years old.'

In [56]:
int("12") + 12

24