# Python Collections / Data Structures 
 - Collections are use to store more than one value in a single variable like an array etc..
 - There are different collection in python. Every collection has its own properties and behaviours.
             - List
             - Tupe
             - Dictionary
             - Set

# List
 - Lists are identified by [] square brackets
 - List are widely used colection in python.
 - Any type of vales can be a memeber of list.
 - There is no limit of the size of a list.
 - List can be mutated. Means a list is mutable. We can change the list. 
 - Topics covered in list:
          - create an empty list
          - create a loaded elements list
          - Accessing members of list using list indices
          - Replacing or updating a list member
          - Deleting list members or elements

In [ ]:
# An empty list of students are created
students = []

In [ ]:
# returns the type of variable name supplied to it. In this case students is of list type variable.
type(students)

In [ ]:
# return the size or length or number of elements a list has inside. In this case it is 0 as list is empty.
len(students)

### List Indeices to access or retrieve the list elements: 
    - Indices are the position of an element in the list. 
    - Indices starts from 0 not from 1. (if read Left to Right)
    - Indices can also be -ve starting from -1 to onwards. (if read from right to left)

In [ ]:
#           -4       -3      -2       -1 
students = ["Asad","Ali","Daad","Hassan"]
#             0      1     2       3

#Note here every element has both +ve ans -ve index. We can use any of the two depends upon logic of the problem we are to solved.

In [ ]:
students

In [ ]:
# who is on index 2 
students[2]

In [ ]:
# who is on index -3
students[-3]

In [ ]:
# A list can have str , int , bool, float, type of values 
# A list can have collections as elements of the list
# In this case 4th index has a list as an element.

miscList = ["Nasir", 12, True, 23.7, [11,22,33]]
miscList

In [ ]:
miscList[3]

In [ ]:
# A list inside a list on index 4
miscList[4]

In [ ]:
# if we want to access an element of member list then we have to pass two indices like this: 
#one for index of list and another for index of insde list element.
miscList[4][2]

# this will go to index 4 there is a list on it. further it will go to index 2 of this list.

### Updating/Replacing  a list item using index

In [ ]:
# change the item on list index 2 with False
miscList[2]=False

In [ ]:
miscList

In [ ]:
# Repalce / Update
miscList[2]="Hello"

In [ ]:
miscList

In [ ]:
miscList

### Inserting an element in an existing list.
   - If we have a list either it is empty or loaded. 
   - We want to add more elements to the list.
   - There are two ways to do it:
    - append()
    - insert()
    
    
#### Append function()
    - listname.append adds a supplied member to the end of the list. Always at the end. 
    - it only takes on value at a time
    - it can take any valid type of value like int str float bool, list, set , tuple , dic
    
#### Insert function()
   - listname. insert() also adds a single value to the list but it asks for position of the member.

In [ ]:
miscList

In [ ]:
# 1000 will be added in the last of the list.
miscList.append(1000)
miscList

In [ ]:
Insert

In [ ]:
students

In [ ]:
# it ask "kahan, kia" means kahan dalni hy value and kia value dalni hy 
students.insert(2,"Rehan")

In [ ]:
students

In [ ]:
# we are saying to insert a collection (alist) on index2 
students.insert(2,["Rehan","Farhan","Rayyan"])
students

### Removing members from existing list
    We can remove members from list if needed. There many ways to remove members from list. Every way has its own usage 
    - del
    - remove()
    - pop()
    - clear()
    
#### Del command
    - del ask for list name and index to remove the value from that index
    - it removes the element and does not return the deleted value 
    - it can also remove chunk or segment of value from list.
    
    - To remove a value we must know its index.
    
#### Remove() function of list
   - We can remove a value from the list by using its name(value). 
   - If the value is present in the list it will be removed
   - If there are more than one same value, the first one will be removed 
   - If value is not present in the list it will throw exfeption(error)
   
#### Pop() function of list
   - Pop function remove a single value from list.
   - Be default pop remove from last index (-1) of the list
   - Importantly only pop returns the removed value. 
   - If we want to keep track of the removed value we can store the removed value
   - This features is not provoded in above fucntions. 
   - Pop removes till list is not empty. If list is empty or gets emptied then will throw empty list error
   
#### Clear
    - Clear() function permanently deletes all the members of the list in one go. (Dangerous)

In [ ]:
miscList

In [ ]:
# delete value from index 2 >>"Hello"
del miscList[2]
miscList

In [ ]:
# remove segment of values from 1 to 3(3 not included)
del miscList[1:3]

In [ ]:
miscList

In [ ]:
students

In [ ]:
# using remove function which ask for a value to remove
students.remove('Rehan')
students

In [ ]:
students.remove("Ali")
students

In [ ]:
students

In [ ]:
# delete a value using pop function
students.pop()

In [ ]:
students

In [ ]:
# delete, receive and store the popped value 
popped_val = students.pop()

print(students)

popped_val

In [ ]:
# Clear funvtion to clear the list by removing all the values in one go. 
miscList.clear()

In [ ]:
miscList

### More list functions
    - copy()
          - makes separate a copy of entire list.
                    newlist= misc_list.copy()
    - extend()
         - it add a collection's members separately on separate indices
               misc_list.extends([11,22,33])
         result:
               ['Nasir', 23.7, [11, 22, 33], 1000, 11,22,33]  **not this** ['Nasir', 23.7, [11, 22, 33], 1000,[11,22,33]]
                   
    - sort(): sort the list in s=ascending or descending order.
    - reverse(): reverse the list in same order. 
    - index(): return the index of the asked value
    - count(): count("Ali") return the number of time Ali accurs in list

### Copying a list
  - copy()

In [ ]:
students

In [ ]:
mySt = students.copy()

In [ ]:
mySt

In [ ]:
# Counts the value in list 
students.count("Ali")

In [ ]:
students.count('ali')

In [ ]:
# Extends the memebers of collection on by one in list 
students.extend(['a',"b",'c'])

In [ ]:
students

In [ ]:
# as compare to extend append adds collection as one member
students.append(['a',"b",'c'])

In [ ]:
students

Iterables: All Collections are iterables means every items of the collection can be accessed. 
           list members can be accessed
           set members can be accessed
           tuple members can be accessed
           dictionary members can be accessed
           String is also iterable its characters can also be accessed individualy.

In [ ]:
# since string is iterable if we extend a string value its every character will be added in list separtely
students.extend("Pakistan")

In [ ]:
students

In [ ]:
# since integers are not iterables, we can not extend it
students.extend(55555)

In [ ]:
# the same value is in list form now it can be extended. 
students.extend('55555')
students

### Slicing a list
   - Slicing is way to make a copy of complete or some segment of the list

In [4]:
# indexing a member on index 2
nums = [11,22,33,44,55,66,77,88,99,100]
nums[2]

33

In [6]:
# make of copy of nums list segment starting from 2 to 4 as 5 will not be included. 
nums3 = nums[2:5]
nums3

[33, 44, 55]

In [7]:
# start from 0 goto index 5 as 6 will not be included . 
print(nums[0:6])

# if we donot supply starting index be default it will start from very begining which 0 index 
print(nums[:6])

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 44, 55, 66]

In [8]:
nums

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [13]:
# start from 6 goto 8 as 9 will not be included
print(nums[6:9])

# if we donot supply ending index it will go till end of list
print(nums[6:])

# We can use -ve index to move from left to right 
print(nums[6:-1])

[77, 88, 99]
[77, 88, 99, 100]
[77, 88, 99]

In [14]:
anylist = [11,22,33,44,55,66,77,88,99]
         #  0  1  2  3  4  5  6  7  8

In [15]:
sliced_list = anylist[:6]
sliced_list

[11, 22, 33, 44, 55, 66]

In [16]:
sliced_list = anylist[2:]
sliced_list

[33, 44, 55, 66, 77, 88, 99]

In [17]:
exact_copy = anylist[:]
exact_copy

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [18]:
# Note if i pass wrong indices in slicing it will NOT show error
wrong_index_list_copying = anylist[100:200]
wrong_index_list_copying

[]

In [19]:
anylist

[11, 22, 33, 44, 55, 66, 77, 88, 99]

### list packing and upacking
  - declaring an initializing a list actually is all about packing no, one oe more than one value/values in a single variable.
  
  - Ex: fruits = ['mangoe',oranges, apples] >> this is packing
  
        fruit1,fruit2,fruit3 = fruits       >> this is unpacking    
        
        Elements of list will be assigned to fruit1, fruit2,fruit3 respectively. 
        we will need same number of variables as elements in list to unpack

In [20]:
# packing value in a variable 
fruits = ['mangoe','oranges', 'apples']

# unpacking above list into fruit1, fruit2,fruit3
fruit1,fruit2,fruit3 = fruits

In [22]:
print(fruit1)
print(fruit2)
print(fruit3)

mangoe
oranges
apples

In [23]:
# slicing moves always from left to right index. 
# means start index must be on left side and ending index must be on right side. 
# in case something else, no slice will be done and returns [] empty list

# tuple
  - a tuple is a type of collection that can not be mutated. 
  - We can copy, slice , index a tuple but we can not change the original tuple. 
  - Tuple is immutable
  - A tuple is identifed by small braces ()

In [26]:
#immutable
atuple = (2,3,4,5,6,87)

In [27]:
type(atuple)

tuple

In [29]:
# indexing a value of a tuple
atuple[0]

2

In [31]:
# slicing a tuple
atuple[3:6]

(5, 6, 87)

In [35]:
# exact copying a tuple using slicing there is not copy() function in tuple as it was in list 
btuple = atuple[:]
print(atuple)
print(btuple)

(2, 3, 4, 5, 6, 87)
(2, 3, 4, 5, 6, 87)

**We can not delete elements from a tuple as tuple is immutable**

**We can not replace or change any element froma a tuple as is it immutable**

# tuple functions
 - count()    returns the count of the privided element
 - index()    return the index of the provided element

# Set
   - A set is a type of collection that only hold unique values (no repeated values) 
   - A set is identifed by {}

In [78]:
# creating a set
aset={1,2,3,4,5,3,4,5}

In [79]:
type(aset)

set

In [80]:
# a list with duplicate values 
alist = [1,2,3,4,5,62,3,4,5]

In [81]:
# type casting the list to drop all duplicates.
# But result will be a set not list. 
# to convert it  again in list, again type cast it to list

list(set(alist))

[1, 2, 3, 4, 5, 62]

### Set functions

 - add()               >>add an element to set
 - clear()             >>Remove all elements from this set.
 - copy()              >>Return a copy of a set
 - difference()        >>Return the difference of two or more sets as a new set.
 - difference_update() >>Remove all elements of another set from this set
 - discard()           >>Remove an element from a set if it is a member.
 - intersection()      >>Return the intersection of two sets as a new set.
 - intersection_update >>Update a set with the intersection of itself and another.
 - is_disjoint()       >>Return True if two sets have a null intersection.
 - is_subset()         >>Report whether another set contains this set.
 - is_superset()       >>Report whether this set contains another set.
 - pop()               >>Remove and return an arbitrary set element.
 - remove()            >>Remove an element from a set; it must be a member.
 - union()             >>Return the union of sets as a new set.
 - update()            >>Update a set with the union of itself and others.

In [82]:
aset

{1, 2, 3, 4, 5}

In [83]:
#add() >>add an element to set

aset.add(52)
aset

{1, 2, 3, 4, 5, 52}

In [84]:
#copy() >>Return a copy of a set
bset = aset.copy()
bset

{1, 2, 3, 4, 5, 52}

In [85]:
#difference()  >>Return the difference of two or more sets as a new set.

aset.difference(bset)

set()

In [87]:
#difference_update() >>Remove all elements of another set from this set permanently

cset={11,2,3,44,5,52,53}
dset = {1, 2, 3, 4, 5, 52}

# put the difference between the two set into dset
dset.difference_update(cset)

print(cset)
print(dset)

{2, 3, 5, 11, 44, 52, 53}
{1, 4}

In [88]:
#discard()           >>Remove an element PERMANEMTLY from a set if it is a member
myset = {"Apples", "Mangoes", "Oranges", "Peaches", "Bananas", "Gauvas"}
myset.discard("Peaches")
print(myset)

# since berries are not in set, it will do nothing (will NOT throw error)
myset.discard("Berries")
print(myset)

{'Oranges', 'Apples', 'Bananas', 'Gauvas', 'Mangoes'}
{'Oranges', 'Apples', 'Bananas', 'Gauvas', 'Mangoes'}

In [90]:
#intersection()      >>Return the intersection(common) of two sets as a new set.
print(aset)
print(dset)
print(aset.intersection(dset))

print(dset.intersection(aset))

{1, 2, 3, 4, 5, 52}
{1, 4}
{1, 4}
{1, 4}

In [93]:
#intersection_update()  >> Update a set with the intersection of itself and another.
print(aset) 

print(dset)

# put the instersection into bset
dset.intersection_update(aset)

print(dset)

{1, 2, 3, 4, 5, 52}
{1, 4}
{1, 4}

#### Implement other set function yourself......

# Dictionary
  - A dictionary is also a type of collection in python
  - A dictionary works on key value pair
  - There is no indexing in dictionary
  - Dictionary is mutable

In [137]:
# Creating an empty doctionary
empty_dictionary = {}

type(empty_dictionary)

dict

In [131]:
# creating a loaded dictionary

emp1 = {'name': "Ahmed Noor", 'age':45, 'Designation':"Manager", "Department":"Accounts and Finance"}
print(emp1)

{'name': 'Ahmed Noor', 'age': 45, 'Designation': 'Manager', 'Department': 'Accounts and Finance'}

In [132]:
# Accessing a dictionary item using a key

emp1['Department']

'Accounts and Finance'

In [133]:
# Accessing a dictionary item using a key (another way)
emp1.get("Designation")

'Manager'

In [134]:
# Replacing a value again a specific key 

emp1['age'] = 25

print(emp1)

{'name': 'Ahmed Noor', 'age': 25, 'Designation': 'Manager', 'Department': 'Accounts and Finance'}

In [135]:
# Deleting with a key will delete the complete pair (key:value)

del emp1['age']

print(emp1)

{'name': 'Ahmed Noor', 'Designation': 'Manager', 'Department': 'Accounts and Finance'}

In [138]:
empty_dictionary

{}

In [139]:
# we can add more key:value pairs to empty or existing dictionary

empty_dictionary['Course']= "Data Analytics"
empty_dictionary['Days'] = "Sat-Sun"

print(empty_dictionary)

{'Course': 'Data Analytics', 'Days': 'Sat-Sun'}

# Dictionary functions
    - clear()       >>> removes all elements(key:value) from dictionary
    - copy()        >>> makes copy of dictionary
    - get()         >>> takes a key and return it value
    - keys()        >>> returns all keys present in the dictionary
    - values()      >>> returns all the value present in the dictionary 
    - items()       >>> returns tuples containing key value  
    - pop()         >>> takes a key and remove that key:value pair but return the deleted value 
    - pop_item()    >>> removes a complete key:value pair randomly from the dictionary

In [140]:
emp2 = emp1.copy()
print(emp2)

{'name': 'Ahmed Noor', 'Designation': 'Manager', 'Department': 'Accounts and Finance'}

In [141]:
emp1.get("name")

'Ahmed Noor'

In [142]:
emp1.keys()

dict_keys(['name', 'Designation', 'Department'])

In [143]:
emp1.values()

dict_values(['Ahmed Noor', 'Manager', 'Accounts and Finance'])

In [144]:
emp1.items()

dict_items([('name', 'Ahmed Noor'), ('Designation', 'Manager'), ('Department', 'Accounts and Finance')])

In [145]:
emp1.pop("name")

'Ahmed Noor'

In [146]:
emp1.popitem()

('Department', 'Accounts and Finance')

In [147]:
emp1

{'Designation': 'Manager'}